*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial;
}


body{

min-height:100vh;
color:white;

background:
radial-gradient(circle at top left,#ff00cc88,transparent 30%),
radial-gradient(circle at bottom right,#00ffff77,transparent 30%),
linear-gradient(135deg,#020617,#312e81,#065f46);

}



header{

height:90px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 8%;

}



.logo{

font-size:35px;
font-weight:900;

}


.logo span{

color:#22d3ee;

}



header button{

padding:12px 25px;

border:0;

border-radius:30px;

cursor:pointer;

}



main{

height:90vh;

display:flex;

align-items:center;

justify-content:center;

}



.container{

width:90%;

max-width:800px;

padding:45px;

text-align:center;

background:#ffffff18;

backdrop-filter:blur(20px);

border-radius:35px;

box-shadow:0 0 50px #00ffff55;

}



.home-icon{

font-size:90px;

animation:float 3s infinite;

}



@keyframes float{

50%{
transform:translateY(-15px);
}

}



h1{

font-size:50px;

}



h1 span{

background:linear-gradient(90deg,#00ffff,#ff00cc);

-webkit-background-clip:text;

color:transparent;

}



p{

color:#ddd;

font-size:18px;

margin:20px;

}



.box{

background:#02061799;

padding:25px;

border-radius:25px;

}



select{

width:48%;

padding:15px;

border-radius:15px;

border:0;

background:#111827;

color:white;

}



button{

cursor:pointer;

}



.box button{

width:100%;

margin-top:15px;

padding:16px;

border:0;

border-radius:30px;

background:linear-gradient(90deg,#00ffff,#9333ea);

color:white;

font-size:18px;

font-weight:bold;

}



#result{

margin-top:20px;

padding:20px;

background:#ffffff15;

border-radius:20px;

min-height:100px;

text-align:left;

}



@media(max-width:700px){

h1{

font-size:35px;

}

select{

width:100%;

margin-top:10px;

}

}
